    <div class="search-container">
      <!-- Filtros -->
      <div class="filters-container">
        <div class="filter-group">
          <div class="filter-item">
            <!-- <label>Buscar Matricula:</label> -->
            <input type="text" placeholder="Buscar Matricula" [(ngModel)]="filtroMatricula">
          </div>
          <!-- <div class="filter-item">
            <label>Filtrar por Estado:</label>
            <select [(ngModel)]="filtroEstado">
              <option value="">Todos</option>
              <option>Completado</option>
              <option>Cancelado</option>
            </select>
          </div>
          <div class="filter-item">
            <label>Filtrar por Tipo:</label>
            <select [(ngModel)]="filtroTipo">
              <option value="">Todos</option>
              <option>URVAN</option>
              <option>RTP</option>
              <option>Micro</option>
            </select>
          </div> -->
          <div class="filter-item">
            <label>&nbsp;</label>
            <button class="form-button warning" 
                    type="button" 
                    (click)="limpiar()">
              Limpiar
            </button>
          </div>
        </div>
      </div>
    
      <!-- Tabla de resultados -->
      <div class="results-table">
        <table>
          <thead>
            <tr>
              <th>Matricula</th>
              <th>Nombre</th>
              <th>Correo</th>
              <th></th> 
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let viaje of filtroMatriculas">
              <td>{{ viaje.matricula }}</td>
              <td>{{ viaje.nombre }}</td>
              <td>{{ viaje.correoElectronico }}</td>
              <td>
                <button class="edit-button" (click)="editarAlumno(viaje)">Editar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    
      <div class="form-actions">
        <button (click)="return()" class="form-button success">
          Volver
        </button>
      </div>
    </div>