.main-layout {
    display: flex;
    height: 100vh;
    width: 100vw;
  }
  /* Contenido ocupa el resto del espacio */
//   dashboard {
//     flex: 1;
//     background-color: #fff3e9; /* color de fondo principal */
//   }
  .dashboard-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff5eb;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
  }