<div class="main-content">
    <div class="boxing-cards">
      <!-- First Card -->
      <button (click)="navigateToRegistrarEntrada()" class="boxing-card card-l">
        <div class="card-image" id="card-l">
          <!-- <div class="date-badge">
              <div class="date-day">12</div>
              <div class="date-month">Aug</div>
              <div class="date-year">2016</div>
            </div> -->
          <div class="card-image-l"></div>
        </div>
        <div class="card-content">
          <div class="card-author">
            <!-- <span>Jane Doe</span> -->
          </div>
          <div class="card-title">Registrar Entrada</div>
        </div>
      </button>

      <!-- Second Card -->
      <button class="boxing-card card-r">
        <div class="card-image" id="card-r">
          <!-- <div class="date-badge">
              <div class="date-day">12</div>
              <div class="date-month">Aug</div>
              <div class="date-year">2016</div>
            </div> -->
          <div class="card-image-r"></div>
        </div>
        <div class="card-content">
          <div class="card-author">
            <!-- <span>Jane Doe</span> -->
          </div>
          <div class="card-title">Registrar Salida</div>
        </div>
      </button>
  </div>
