.container-main {
  background-color: var(--orange-color-light);
  background: linear-gradient(to right, var(--orange-color), var(--orange-uam));
  display: flex;
  justify-content: center;
  align-items: center;
  //   margin: 0 auto;
  height: 100vh;
}
