.container-main {
  background-color: var(--orange-color-light);
<<<<<<< Updated upstream
  background: linear-gradient(to right, var(--orange-color), var(--orange-uam));
=======
  background-image: linear-gradient(to right, #FC7864, #FDA366);
>>>>>>> Stashed changes
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
