:root {
  --orange-color: #ff6347;
  --orange-hover: #f87660;
  --orange-color-light: #fff5eb;
  --orange-color-uam: #f48404;
  --orange-uam: #f08200;
  --orange-hover2: #ffa033;
  --black-color: #0d0d0d;
  --green-color: #4caf50;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

// Estilos generales para tablas
.results-table table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0
}
.results-table th,
.results-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #eee;
}
.results-table th {
  background-color: var(--orange-color);
  color: white;
  font-weight: 500;
}
.results-table tr:hover {
  background-color: #fff5eb;
}
// Paginacion tabla
.paginator {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

.paginator button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}